html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: " ";
	content: none;
}
.container-fluid {
	margin: 0;
	padding: 0;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
	display: inline-block;
}
/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input,
select {
	vertical-align: middle;
}
html {
	&::-webkit-scrollbar {
		background-color: #000;
		width: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #da1a00;
		width: 3px;
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial;
	background: #f2f2f2;
}
.wrapper {
	overflow: hidden;
}

.dropdown-toggle::after {
	border: none;
	background: url(../images/icons/dropdown_icon.svg) no-repeat;
	background-position: center;
	width: 12px;
	height: 7px;
	position: relative;
	top: 3px;
}

.custom_checkbox input[type="checkbox"] {
	/* Hide the default checkbox */
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 24px;
	height: 24px; /* Set desired height */
	border: 1px solid rgba(0, 0, 0, 1);
	outline: none; /* Remove default focus style */
	cursor: pointer;
	vertical-align: middle;
}

.custom_checkbox input[type="checkbox"]:checked {
	position: relative;
	&::after {
		position: absolute;
		z-index: 4;
		top: 0;
		left: 0;
		right: -1px;
		bottom: 0;
		margin: auto;
		content: "";
		width: 15px;
		height: 11px;
		background: url(../images/icons/check_icon.svg) no-repeat;
	}
	background-color: rgba(248, 12, 24, 1); /* Checked background color */
	border-color: rgba(248, 12, 24, 1); /* Checked border color */
}

// pagination
.pagination {
	.page_item {
		width: 27.298px;
		height: 34.811px;
		border: 1px solid #cfcfcf;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all ease-in 0.2s;
		&.active {
			background: #f80c18;
			& .page_link {
				color: #fff;
			}
		}
	}
	.page_link {
		height: 100%;
		align-items: center;
		width: 100%;
		justify-content: center;
		display: flex;
		color: #000;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px; /* 150% */
	}
}

.main_button {
	a {
		padding: 16px 33px;
		gap: 13px;
		border: 1px solid #f80c18;
		span {
			color: #f80c18;
			font-size: 16px;
			font-weight: 400;
			line-height: 18px; /* 112.5% */
		}
	}
}

.custom-select {
	position: relative;
	display: inline-block;
}

.select-selected {
	background-color: #f7f7f7;
	padding: 10px 12px;
	border: 1px solid #ccc;
	cursor: pointer;
}

.select-items {
	display: none;
	position: absolute;
	background: #fff;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	width: 100%;
	max-height: 200px;
	overflow-y: auto;
	border: 1px solid #ccc;
	z-index: 1;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px; /* 112.5% */
}

.select-items div {
	padding: 10px 12px;
	cursor: pointer;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px; /* 112.5% */
}

.select-items div:hover {
	background-color: #f7f7f7;
}
.types_button {
	background: #f80c18;
	width: 38px;
	user-select: none;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

// section_name
.section_name {
	color: #000;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px; /* 90% */
	margin-bottom: 15px;
}
