html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: " ";
  content: none;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  display: inline-block;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html::-webkit-scrollbar {
  background-color: #000;
  width: 5px;
}
html::-webkit-scrollbar-thumb {
  background-color: #da1a00;
  width: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #f2f2f2;
}

.wrapper {
  overflow: hidden;
}

.dropdown-toggle::after {
  border: none;
  background: url(../images/icons/dropdown_icon.svg) no-repeat;
  background-position: center;
  width: 12px;
  height: 7px;
  position: relative;
  top: 3px;
}

.custom_checkbox input[type=checkbox] {
  /* Hide the default checkbox */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px; /* Set desired height */
  border: 1px solid rgb(0, 0, 0);
  outline: none; /* Remove default focus style */
  cursor: pointer;
  vertical-align: middle;
}

.custom_checkbox input[type=checkbox]:checked {
  position: relative;
  background-color: rgb(248, 12, 24); /* Checked background color */
  border-color: rgb(248, 12, 24); /* Checked border color */
}
.custom_checkbox input[type=checkbox]:checked::after {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  right: -1px;
  bottom: 0;
  margin: auto;
  content: "";
  width: 15px;
  height: 11px;
  background: url(../images/icons/check_icon.svg) no-repeat;
}

.pagination .page_item {
  width: 27.298px;
  height: 34.811px;
  border: 1px solid #cfcfcf;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in 0.2s;
}
.pagination .page_item.active {
  background: #f80c18;
}
.pagination .page_item.active .page_link {
  color: #fff;
}
.pagination .page_link {
  height: 100%;
  align-items: center;
  width: 100%;
  justify-content: center;
  display: flex;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.main_button a {
  padding: 16px 33px;
  gap: 13px;
  border: 1px solid #f80c18;
}
.main_button a span {
  color: #f80c18;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
}

.custom-select {
  position: relative;
  display: inline-block;
}

.select-selected {
  background-color: #f7f7f7;
  padding: 10px 12px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.select-items {
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  z-index: 1;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
}

.select-items div {
  padding: 10px 12px;
  cursor: pointer;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
}

.select-items div:hover {
  background-color: #f7f7f7;
}

.types_button {
  background: #f80c18;
  width: 38px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.section_name {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 90% */
  margin-bottom: 15px;
}

.header {
  margin-bottom: 20px;
  padding: 20px 0;
  background: #000;
}
.header .header_menus {
  gap: 33px;
}
.header .header_menus li a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  transition: all ease-in 0.2s;
}
.header .header_menus li a:hover, .header .header_menus li a.active {
  color: #f80c18;
  text-shadow: 0px 4px 4px rgba(248, 12, 24, 0.2);
}
.header .search_form input {
  height: 33px;
  background: #f2f2f2;
  padding-left: 10px;
  color: #848484;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  outline: none;
  line-height: 18px; /* 128.571% */
  min-width: 230px;
}
.header .search_form input::-moz-placeholder {
  color: #848484;
  font-size: 14px;
}
.header .search_form input::placeholder {
  color: #848484;
  font-size: 14px;
}

.hero {
  margin-bottom: 40px;
}
.hero .hero_block {
  margin-bottom: 20px;
}
.hero .hero_left_btn {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 12;
  width: 40px;
  height: 40px;
  background: #000;
}
.hero .hero_right_btn {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 12;
  width: 40px;
  height: 40px;
  background: #000;
}
.hero .hero_swiper_pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  z-index: 12;
}
.hero .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  opacity: 1;
  border-radius: unset;
  background: transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.hero .swiper-pagination-bullet-active {
  background: #f80c18;
}
.hero .red_block {
  height: 120px;
  width: 100%;
  background: #f80c18;
}

.sport_types {
  margin-bottom: 80px;
}
.sport_types .sports_block {
  gap: 20px;
}
.sport_types .sports_item {
  gap: 20px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sport_types .sport_date {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px; /* 90% */
  margin-bottom: 15px;
}
.sport_types .sport_name {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 90% */
  margin-bottom: 55px;
}
.sport_types .location_name {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 18px; /* 90% */
}
.sport_types .sport_right {
  padding: 20px 20px 20px 0px;
}
.sport_types .grey_block {
  height: 120px;
  width: 100%;
  background: #d9d9d9;
}
.sport_types .filter_title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px; /* 90% */
  margin-bottom: 6px;
}
.sport_types .filter_block {
  padding: 20px;
  gap: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sport_types .sport_types_wrapper {
  margin-bottom: 20px;
}
.sport_types .filter_item {
  gap: 9px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sport_types .filter_item span {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

footer {
  padding: 60px 0;
  background-color: rgb(0, 0, 0);
}
footer .footer_navs {
  gap: 125px;
}
footer .footer_navs li {
  gap: 9px;
}
footer .footer_navs li a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  transition: all ease-in 0.2s;
}
footer .footer_navs li a:hover, footer .footer_navs li a.active {
  color: #f80c18;
  text-shadow: 0px 4px 4px rgba(248, 12, 24, 0.2);
}
footer .footer_socials {
  gap: 12px;
}

.details {
  margin-bottom: 55px;
}
.details .details_block {
  background: #fff;
  padding: 20px;
  gap: 18px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.details .detail_item {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.details .detail_item span {
  font-weight: 700;
}
.details .detail_item.red {
  color: #f80c18;
}
.details .detail_btn {
  margin-top: 12px;
}

.diciplines {
  margin-bottom: 40px;
}
.diciplines .diciplines_block {
  padding: 20px 40px 20px 20px;
  background: #fff;
  gap: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.diciplines .kilometres {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 90% */
}
.diciplines .dicipline_price {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 75% */
}
.diciplines .dicipline_right {
  gap: 75px;
}

.description {
  margin-bottom: 80px;
}
.description .desc_block {
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
}
.description .desc {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 90% */
  margin-bottom: 40px;
}

.carts {
  margin-bottom: 80px;
}
.carts .promo_block {
  padding: 28px 40px;
  background: #fff;
  gap: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.carts .payment_block {
  padding: 30px 40px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.carts .promo_title {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 90% */
  margin-bottom: 20px;
  margin-bottom: 12px;
}
.carts .select_item label {
  gap: 10px;
  color: #000;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
}
.carts .register_button {
  margin-top: 12px;
}
.carts .promocode {
  gap: 6px;
}
.carts .promo_code {
  padding: 8px;
  width: 192px;
  height: 50px;
  border: 1px solid rgb(248, 12, 24);
  outline: none;
  margin-bottom: 30px;
}
.carts .order_title {
  color: #f80c18;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
  margin-bottom: 13px;
}
.carts .order_event {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 90% */
  margin-bottom: 30px;
}
.carts .order_item {
  display: block;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
  margin-bottom: 20px;
}
.carts .order_item:last-child {
  margin-bottom: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1240px) {
  .container {
    max-width: 960px;
  }
  .header .header_menus {
    gap: 15px;
  }
  .header .header_menus li a {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .close i {
    position: absolute;
    top: 30px;
    right: 35px;
    color: #fff;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .carts_block {
    gap: 20px;
  }
  .description {
    margin-bottom: 50px;
  }
  .footer_block {
    flex-wrap: wrap;
    gap: 20px 0;
  }
  .select_wrapper {
    margin-bottom: 40px;
  }
  .type_title {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px; /* 112.5% */
    margin-bottom: 10px;
  }
  .header .search_form input {
    min-width: unset;
  }
  body.active {
    overflow: hidden;
    height: 100vh;
  }
  .gray_bg {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: -3;
    height: 100vh;
    transition: all ease-in-out 0.2s;
  }
  .gray_bg.active {
    background-color: rgba(0, 0, 0, 0.5294117647);
    z-index: 2;
  }
  .header .header_menus {
    padding-top: 100px;
    gap: 15px;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    background: rgb(11, 12, 12);
    height: 100vh;
    z-index: 44;
    transition: all ease-in-out 0.4s;
  }
  .header .header_menus.active {
    right: 0;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .carts {
    margin-bottom: 50px;
  }
  .hero_swiper .swiper-slide img {
    height: 150px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .description .desc {
    font-size: 17px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .details .detail_item {
    line-height: 22px;
  }
  .diciplines .diciplines_block {
    gap: 20px;
  }
  .dicipline_item {
    flex-direction: column;
    gap: 30px;
  }
  .sport_types {
    margin-bottom: 40px;
  }
  .hero .hero_left_btn {
    width: 33px;
    height: 33px;
  }
  .hero .hero_right_btn {
    width: 33px;
    height: 33px;
  }
  .sport_types .sports_item {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 70%;
  }
  .sport_types .grey_block {
    width: 70%;
  }
  .sport_types .sports_block {
    align-items: center;
  }
  .sport_top_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  .sport_types .location_name {
    font-size: 12px;
    line-height: 18px;
  }
  .sport_types .sport_name {
    color: #000;
    font-size: 12px;
    line-height: 18px; /* 150% */
    margin-bottom: 30px;
  }
  .location_img img {
    width: 18px;
  }
  .sport_types .sport_date {
    margin: 0;
    font-size: 14px;
    line-height: 18px; /* 128.571% */
  }
  .sport_types .sport_right {
    padding: 0;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .carts {
    margin-bottom: 40px;
  }
  body {
    background: #f3f3f3;
  }
  footer .footer_navs {
    gap: 35px;
  }
  .description .desc_block {
    padding: 16px 10px;
  }
  .header {
    margin-bottom: 15px;
  }
  .description .desc {
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 18px; /* 150% */
  }
  .description {
    margin-bottom: 40px;
  }
  .map img {
    min-height: 180px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .hero .red_block {
    height: 55px;
  }
  .hero {
    margin-bottom: 20px;
  }
  .header .header_menus {
    width: 100%;
  }
  .hero_swiper .swiper-slide img {
    height: 140px;
    -o-object-position: top;
       object-position: top;
  }
}
@media (max-width: 481px) {
  .header_block {
    gap: 15px;
  }
  .carts .promo_block {
    padding: 20px 10px;
  }
  .carts .promo_title {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 8px;
  }
  .carts .order_event {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .carts .payment_block {
    padding: 20px 10px;
  }
  .carts .select_item label {
    font-size: 16px;
    line-height: 18px; /* 112.5% */
    gap: 6px;
    padding-right: 10px;
  }
  .header .search_form input {
    max-width: 165px;
    height: 33px;
    font-size: 12px;
  }
  .diciplines .diciplines_block {
    padding: 0;
    box-shadow: none;
    background: none;
    gap: 10px;
  }
  .diciplines .dicipline_right {
    flex-direction: column;
    gap: 17px;
    width: 100%;
  }
  .section_name {
    font-size: 16px;
  }
  .dicipline_item {
    gap: 17px;
  }
  .diciplines .dicipline_price {
    font-size: 20px;
    line-height: 18px; /* 90% */
  }
  .diciplines .kilometres {
    font-size: 16px;
    line-height: 18px;
  }
  .dicipline_item {
    padding: 20px 10px 20px 10px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .hero_img img {
    height: 140px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .details .details_block {
    padding: 20px 10px 10px 10px;
  }
  footer .footer_navs {
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .details .detail_item {
    font-size: 14px;
    line-height: 18px;
  }
  .details {
    margin-bottom: 40px;
  }
  .details .detail_btn {
    margin-top: 2px;
  }
  .footer_block {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  footer .footer_navs li {
    gap: 10px;
    align-items: center;
  }
  .footer_logo {
    margin-bottom: 10px;
  }
  .social_item img {
    width: 40px;
    height: 40px;
  }
  footer .footer_socials {
    gap: 10px;
  }
  footer {
    padding: 20px 0 25px 0;
  }
  .footer_logo img {
    width: 80px;
  }
  .sport_types .grey_block {
    width: 100%;
    height: 86px;
  }
  .sport_types {
    margin-bottom: 20px;
  }
  .sport_img {
    width: 100%;
  }
  .sport_img img {
    width: 100%;
    max-height: 185px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
  .main_button {
    width: 100%;
  }
  .sport_types .sports_block {
    gap: 10px;
  }
  .main_button a {
    padding: 16px 0;
    width: 100%;
    justify-content: center;
    display: flex;
    width: 100%;
    gap: 20px;
  }
  .sport_types .sports_item {
    width: 100%;
  }
  .hamburger_menu img {
    height: 31px;
    width: 32px;
  }
  .hamburger_menu a {
    display: flex;
  }
  .dropdown-menu {
    min-width: 120px;
  }
}